/* Resetando alguns estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161824;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Smooch Sans', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Organizando a logo e a caixa de texto na vertical */
    height: 100%;
}

.logo {
    width: 350px; /* Ajuste o tamanho da logo conforme necessário */
    margin-bottom: 20px; /* Espaço entre a logo e a caixa de texto */
}

.caixa-texto {
    font-family: 'IM Fell English', serif;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.178); /* Fundo branco com transparência */
    border: 2px solid #00FA9A; /* Borda verde */
    padding: 20px;
    text-align: center;
    color: #ffffff; /* Texto verde */
    width: 80%;
    max-width: 900px;
    transition: transform 1s ease-in-out;
}

/* Estilo dos botões */
button {
    background-color: #016b429f; /* Cor de fundo */
    border: none;
    color: white; /* Cor do texto */
    padding: 8px 16px; /* Tamanho menor */
    cursor: pointer;
    font-size: 14px; /* Fonte menor */
    border-radius: 5px;
    transition: background-color 0.3s, opacity 0.3s;
    opacity: 0.8; /* Transparência */
}

/* Efeito ao passar o mouse */
button:hover {
    background-color: #3CB371; /* Mudando a cor do botão no hover */
    opacity: 1; /* Remove a transparência ao passar o mouse */
}

/* Container dos botões */
.botoes-container {
    display: flex;
    justify-content: space-between; /* Alinha os botões nas extremidades */
    width: 100%; /* Ocupa toda a largura da caixa de texto */
    margin-top: 20px; /* Espaço acima dos botões */
}

/*INICIO JOGO*/
/* Estilo da área de cartas */
.area-cartas {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaço entre as cartas */
    margin: 20px 0;
}

/* Estilo das cartas */
.carta {
    background-color: #2c3e50;
    border: 2px solid #00FA9A;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 150px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.carta:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

/* Placar */
#placar {
    font-size: 1.2em;
    color: white;
    margin-bottom: 20px;
}